<div class="register">
  <h2 class="register__title">Registro</h2>

  <form class="register__form" [formGroup]="registerForm" (ngSubmit)="submitForm()">
    <fieldset class="register__wrapper">
      <legend class="accessible-hide">Registro</legend>

      <div class="register__item">
        <p class="register__label">Tipo de perfil:</p>
        <div class="register__item-wrapper">
          <input id="people" type="radio" [formControlName]="'userType'" value="people" name="userType" (change)="changeTypeUser($event.target.value)">
          <label class="register__option" for="people">Particular</label>
        </div>
        <div class="register__item-wrapper">
          <input id="company" type="radio" [formControlName]="'userType'" value="company" name="userType" (change)="changeTypeUser($event.target.value)">
          <label class="register__option" for="company">Inmobiliaria</label>
        </div>
      </div>

      <div class="register__item">
        <label class="register__label">Nombre: *</label>
        <input type="text" [formControlName]="'name'">
        <div class="invalid-feedback" *ngIf="(registerForm.get('name').dirty || registerForm.get('name').touched) && registerForm.get('name').errors?.required">
          Este campo es obligatorio.
        </div> 
      </div>

      <div *ngIf="!isCompany" class="register__item">
        <label class="register__label">Apellidos: *</label>
        <input type="text" [formControlName]="'surname'">
        <div class="invalid-feedback" *ngIf="(registerForm.get('surname').dirty || registerForm.get('surname').touched) && registerForm.get('surname').errors?.required">
          Este campo es obligatorio.
        </div>
      </div>

      <div class="register__item">
        <label class="register__label">Correo electrónico: *</label>
        <input type="email" [formControlName]="'email'" email>
        <div class="invalid-feedback" *ngIf="(registerForm.get('email').dirty || registerForm.get('email').touched) && registerForm.get('email').errors?.required">
          Este campo es obligatorio.
        </div>
        <div class="invalid-feedback" *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('pattern')">
          Este campo no es un email.
        </div>
      </div>

      <div class="register__item">
        <label class="register__label">Teléfono: *</label>
        <input type="tel" [formControlName]="'phone'">
        <div class="invalid-feedback" *ngIf="(registerForm.get('phone').dirty || registerForm.get('phone').touched) && registerForm.get('phone').errors?.required">
          Este campo es obligatorio.
        </div>
        <div class="invalid-feedback" *ngIf="registerForm.get('phone').touched && registerForm.get('phone').hasError('pattern')">
          Este campo solo admite 9 números.
        </div>
      </div>

      <div class="register__item">
        <label class="register__label">Contraseña: *</label>
        <input type="password" [formControlName]="'password'" >
        <div class="invalid-feedback" *ngIf="(registerForm.get('password').dirty || registerForm.get('password').touched) && registerForm.get('password').errors?.required">
          Este campo es obligatorio.
        </div>
        <div class="invalid-feedback" *ngIf="registerForm.get('password').touched && registerForm.get('password').hasError('pattern')">
          La contraseña debe tener mínimo 6 caracteres.
        </div>
      </div>

      <div *ngIf="isCompany" class="register__item register__item--multiple">
        <div class="register__item register__item--child">
          <label class="register__label">Calle:</label>
          <input type="text" [formControlName]="'street'">
        </div>
        <div class="register__item register__item--child">
          <label class="register__label">Número:</label>
          <input type="number" min="0" [formControlName]="'number'">
        </div>
        <div class="register__item register__item--child">
          <label class="register__label">Código postal:</label>
          <input type="number" min="0" [formControlName]="'postalCode'">
        </div>
        <div class="register__item register__item--child">
          <label class="register__label">Provincia:</label>
          <select formControlName="city">
            <option value="">Selecciona</option>
            <option *ngFor="let city of cities">{{city}}
            </option>
          </select>
        </div>
      </div>

      <div class="register__item">
        <p class="register__label">Forma de contacto:</p>
        <div class="register__item-wrapper">
          <input type="checkbox" [formControlName]="'contactPhone'" value="contactPhone" /> 
          <label class="register__option">Teléfono</label>
        </div>
        <div class="register__item-wrapper">
          <input type="checkbox" [formControlName]="'contactEmail'" value="contactEmail" /> 
          <label class="register__option">Correo electrónico</label>
        </div>
      </div>

      <div *ngIf="isCompany" class="register__item register__item-file">
        <input type="file" name="file" (change)="selectFile($event)">
      </div>

    </fieldset>

    <div class="register__descr">
      <p class="register__descr-item">En caso de no rellenar una forma de contacto, tu forma de contacto será por defecto el correo proporcionado.</p>
      <p class="register__descr-item">No podrás modificar el tipo de perfil (particular o inmobiliaria) más adelante.</p>
    </div>

    <app-button
      class="register__button"
      text="Guardar"
      type="submit"
      [isDisabled]="!registerForm.valid"
      [isLoading]="creatingUser"
    ></app-button>
  </form>
</div>
