<div class="login">
  <h2 class="login__title">Iniciar sesión</h2>

  <form class="login__form" [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <fieldset class="login__wrapper">
      <legend class="accessible-hide">Iniciar sesión</legend>

      <div class="login__item">
        <label>Correo electrónico:</label>
        <input type="email" [formControlName]="'email'" email>
        <!-- error block -->
        <div *ngIf="loginForm.get('email').dirty && loginForm.get('email').errors?.required" class="invalid-feedback">
          Debes introducir este campo.
        </div>
      </div>

      <div class="login__item">
        <label>Contraseña:</label>
        <input type="password" [formControlName]="'password'" >
        <!-- error block -->
        <div *ngIf="loginForm.get('password').dirty && loginForm.get('password').errors?.required" class="invalid-feedback">
          Debes introducir este campo.
        </div>
      </div>

    </fieldset>
    <app-button
      class="login__button"
      text="Iniciar sesión"
      type="submit"
      [isDisabled]="!loginForm.valid"
    ></app-button>
  </form>
</div>
