<h2 class="accessible-hide">Inicio</h2>
<app-search></app-search>

<div class="services">
  <h3 class="services__title">Nuestros servicios:</h3>
  <div class="services__block">
    <h4 class="services__subtitle">Particular</h4>
    <ul class="services__list">
      <li class="services__item">Añade tus anuncios sin comisiones.</li>
      <li class="services__item">Elige tu forma de contacto.</li>
      <li class="services__item">Guarda tus anuncios favoritos.</li>
      <li class="services__item">Gestiona tu perfil.</li>
    </ul>
  </div>
  <div class="services__block">
    <h4 class="services__subtitle">Inmobiliaria</h4>
    <ul class="services__list">
      <li class="services__item">Añade tus anuncios sin comisiones.</li>
      <li class="services__item">Elige tu forma de contacto.</li>
      <li class="services__item">Verificación de anuncios.</li>
      <li class="services__item">Muestra la ubicación de tu inmobiliaria.</li>
    </ul>
  </div>
</div>
