<h2 *ngIf="id">Editar anuncio</h2>
<h2 *ngIf="!id">Crear anuncio</h2>

<form class="advertisement__form" [formGroup]="advertisementForm" (ngSubmit)="createOrEditAdvertisement()">
  <fieldset class="advertisement__wrapper">
    <legend class="accessible-hide">Formulario de anuncio</legend>

    <div class="advertisement__content">

      <div class="advertisement__item advertisement__item--multiple">
        <p class="advertisement__label advertisement__label--parent">Dirección:</p>
        <div class="advertisement__item advertisement__item--full">
          <label class="advertisement__label">Calle: *</label>
          <input type="text" [formControlName]="'street'">
          <!-- error block -->
          <div class="invalid-feedback" *ngIf="(advertisementForm.get('street').dirty || advertisementForm.get('street').touched) && advertisementForm.get('street').errors?.required">
            <sup>*</sup>Este campo es obligatorio.
          </div>
        </div>
        <div class="advertisement__item advertisement__item--small">
          <label class="advertisement__label">Número: *</label>
          <input type="number" min="0" [formControlName]="'number'">
          <!-- error block -->
          <div class="invalid-feedback" *ngIf="(advertisementForm.get('number').dirty || advertisementForm.get('number').touched) && advertisementForm.get('number').errors?.required">
            <sup>*</sup>Este campo es obligatorio.
          </div>
        </div>
        <div class="advertisement__item advertisement__item--small">
          <label class="advertisement__label">CP: *</label>
          <input type="number" min="0" [formControlName]="'postalCode'">
          <!-- error block -->
          <div class="invalid-feedback" *ngIf="(advertisementForm.get('postalCode').dirty || advertisementForm.get('postalCode').touched) && advertisementForm.get('postalCode').errors?.required">
            <sup>*</sup>Este campo es obligatorio.
          </div>
        </div>
        <div class="advertisement__item advertisement__item">
          <label class="advertisement__label">Provincia: *</label>
          <select formControlName="city">
            <option value="">Selecciona</option>
            <option *ngFor="let city of cities">{{city}}
            </option>
          </select>
          <!-- error block -->
          <div class="invalid-feedback" *ngIf="(advertisementForm.get('city').dirty || advertisementForm.get('city').touched) && advertisementForm.get('city').errors?.required">
            <sup>*</sup>Este campo es obligatorio.
          </div>
        </div>
      </div>

      <div class="advertisement__item advertisement__item--small">
        <label>Tipo: *</label>
        <select formControlName="type">
          <option *ngFor="let type of typesHouse">{{type}}
          </option>
        </select>
        <!-- error block -->
        <div class="invalid-feedback" *ngIf="(advertisementForm.get('type').dirty || advertisementForm.get('type').touched) && advertisementForm.get('type').errors?.required">
          <sup>*</sup>Este campo es obligatorio.
        </div>
      </div>
  
      <div class="advertisement__item advertisement__item--small">
        <label class="advertisement__label">Precio: *</label>
        <input type="number" min="0" [formControlName]="'price'">
        <!-- error block -->
        <div class="invalid-feedback" *ngIf="(advertisementForm.get('price').dirty || advertisementForm.get('price').touched) && advertisementForm.get('price').errors?.required">
          <sup>*</sup>Este campo es obligatorio.
        </div>
      </div>
  
      <div class="advertisement__item advertisement__item--small">
        <label class="advertisement__label">Tamaño (m²): *</label>
        <input type="number" min="0" [formControlName]="'size'">
        <!-- error block -->
        <div class="invalid-feedback" *ngIf="(advertisementForm.get('size').dirty || advertisementForm.get('size').touched) && advertisementForm.get('size').errors?.required">
          <sup>*</sup>Este campo es obligatorio.
        </div>
      </div>
      
      <div class="advertisement__item advertisement__item--small">
        <label>Energía: *</label>
        <select formControlName="energeticCert">
          <option *ngFor="let item of energeticsType" [ngValue]="item">{{ item }}
          </option>
        </select>
        <!-- error block -->
        <div class="invalid-feedback" *ngIf="(advertisementForm.get('energeticCert').dirty || advertisementForm.get('energeticCert').touched) && advertisementForm.get('energeticCert').errors?.required">
          <sup>*</sup>Este campo es obligatorio.
        </div>
      </div>
      
      <div class="advertisement__item advertisement__item--small">
        <label class="advertisement__label">Amueblado: *</label>
        <select formControlName="furnished">
          <option value="yes">Si</option>
          <option value="no">No</option>
        </select>
        <!-- error block -->
        <div class="invalid-feedback" *ngIf="(advertisementForm.get('furnished').dirty || advertisementForm.get('furnished').touched) && advertisementForm.get('furnished').errors?.required">
          <sup>*</sup>Este campo es obligatorio.
        </div>
      </div>
      
      <div class="advertisement__item advertisement__item--small">
        <label class="advertisement__label">Habitaciones: *</label>
        <input type="number" min="0" [formControlName]="'rooms'">
        <div class="invalid-feedback" *ngIf="(advertisementForm.get('rooms').dirty || advertisementForm.get('rooms').touched) && advertisementForm.get('rooms').errors?.required">
          <sup>*</sup>Este campo es obligatorio.
        </div>
        <!-- error block -->
      </div>
      
      <div class="advertisement__item advertisement__item--small">
        <label class="advertisement__label">Baños: *</label>
        <input type="number" min="0" [formControlName]="'toilets'">
        <!-- error block -->
        <div class="invalid-feedback" *ngIf="(advertisementForm.get('toilets').dirty || advertisementForm.get('toilets').touched) && advertisementForm.get('toilets').errors?.required">
          <sup>*</sup>Este campo es obligatorio.
        </div>
      </div>
      
      <div class="advertisement__item advertisement__item--small">
        <label class="advertisement__label">Meses de fianza: *</label>
        <input type="number" min="0" [formControlName]="'deposit'">
        <!-- error block -->
        <div class="invalid-feedback" *ngIf="(advertisementForm.get('deposit').dirty || advertisementForm.get('deposit').touched) && advertisementForm.get('deposit').errors?.required">
          <sup>*</sup>Este campo es obligatorio.
        </div>
      </div>

      <div class="advertisement__item">
        <p class="advertisement__label">Servicios:</p>
        <div *ngFor="let item of otherServices" class="advertisement__item-wrapper">
          <input type="checkbox" class="advertisement__checkbox" [formControlName]="item.value" value="servicePool" /> 
          <label class="advertisement__option">{{ item.name }}</label>
        </div>
      </div>

      <div class="advertisement__item">
        <label class="advertisement__label">Fotos:</label>
        <div *ngFor="let img of advertisementImages" class="advertisement__image-wrapper">
          <img class="advertisement__image" [src]="img" />
        </div>
        <input type="file" name="file" [formControlName]="'images'" (change)="selectFile($event)" multiple>
        <div class="invalid-feedback" *ngIf="(advertisementForm.get('images').dirty || advertisementForm.get('images').touched) && advertisementForm.get('images').errors?.required">
          <sup>*</sup>Este campo es obligatorio.
        </div>
      </div>

    </div>

    <div class="advertisement__content">
      <div class="advertisement__item advertisement__item--full">
        <label class="advertisement__label">Descripción: *</label>
        <textarea [formControlName]="'description'"></textarea>
        <!-- error block -->
        <div class="invalid-feedback" *ngIf="(advertisementForm.get('description').dirty || advertisementForm.get('description').touched) && advertisementForm.get('description').errors?.required">
          <sup>*</sup>Este campo es obligatorio.
        </div>
      </div>

      <div class="advertisement__item advertisement__item--full">
        <label class="advertisement__label">Claúsulas del contrato: *</label>
        <textarea [formControlName]="'contractClauses'"></textarea>
        <div class="invalid-feedback" *ngIf="(advertisementForm.get('contractClauses').dirty || advertisementForm.get('contractClauses').touched) && advertisementForm.get('contractClauses').errors?.required">
          <sup>*</sup>Este campo es obligatorio.
        </div>
      </div>
  
      <div class="advertisement__item advertisement__item--full">
        <label class="advertisement__label">Inventario:</label>
        <textarea [formControlName]="'inventory'"></textarea>
      </div>

    </div>
  </fieldset>

  <app-button
    class="advertisement__button"
    text="Guardar"
    type="submit"
    [isLoading]="uploadingData"
    [isDisabled]="!advertisementForm.valid"
  ></app-button>
</form>
